html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Helvetica, "helvetica neue", arial, sans;
}
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.header {
    width: 100%;
    height: 150px;
}
.header > * {
    height: 100%;
}
#timeline {
    /*background: url(images/grid.svg);*/
}
#layerHeader, #frameHeader {
    background: -webkit-linear-gradient(90deg, #b4b4b4 0%, #d0d0d0 30%, #d0d0d0 100%);
}
.keyframes, .layers {
    display: inline-block;
    float: left;
}
.layers {
    width: 200px;
    border-right: 1px solid black;
}
.header #frameHeader {
    position: fixed;
    z-index: 1;
}
.header #frames {
    position: absolute;
    top: 20px;
}
.header #layersHeader {
    position: fixed;
    z-index: 100;
}
#layers {
    position: absolute;
    top: 20px;
    left: 0;
}
.header .keyframes {
    position: relative;
    overflow:  scroll; /*auto; */
}
div.layers, .keyframes {
    height: 100%;
}
.workarea {
    background: #eee;
}
.statusbar {
    height: 16px;
}
#playAnimation {
    background: url(images/playpause.svg);
    width: 17.5px;
    height: 12.5px;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5px;
}
input {
    margin: 0;
}
.checkbox input {
    display: none;
}
.checkbox {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(images/play.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
    display: inline-block;
}
.checkbox.checked {
	background-image: url(images/pause.svg);
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}